/* Color Palette - Details
Palette#: 226650 from Colorhunt
Reference Colors:
- Red: #161d65 - main header & footer color
- Light Red: #ff8585 - support colors
- Light Orange: #ffb396 - support colors
- Yellow: #fff5c0- support colors
*/

/********** tag selectors ************/

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  
  body{
    width: 34%;
    margin: 90px;
    padding: -58px;
    /* background: #eeefee; */
    font-family: 'Poppins', sans-serif;
}
  
  a{
    text-decoration: none;
  }
  
  h1{
    font-size: 3rem;
    font-weight: bold;
  }
  
  h2{
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3{
    font-size: 2rem;
    font-weight: bold;
  }
  h4{
    font-size: 1.5rem;
    font-weight:normal;
  }
  h5{
    font-size: 1.2rem;
    font-weight:normal;
  }
  h6{
    font-size: 0.8rem;
    font-weight:normal;
  }
  
  
  /********** class selectors ************/
  .container-fluid{
    width: 100%;
  }
  
  
  /* navbar start */
  .navbar{
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
    padding: 0 20px;
  }
  
  .navbar-brand{
    color: white;
  }
  
  .navbar-text{
    color:white;
    padding-left: 12px;
  }
  
  .nav-item {
    width: auto;
    padding: 0;
    line-height: 2;
  }
  
  .nav-item{
    width: 120px;
    line-height: 2;
  }
  
  .nav-link {
    color: #65c032;
    padding: 4px 10px;
    margin: 0 5px;
    text-align: center;
    background: none;
    transition: 0.8s;
    border-radius: 55px;
  }
  
  .nav-link.active,
  .nav-link:hover {
    background: #65c032;
    color: #fff;
  }
  
  .nav-link span {
    position: relative;
    top: 3px;
    font-size: 1.2rem;
  }
  
  .nav-link small {
    position: relative;
    top: -1px;
    font-size: 0.8rem;
    font-weight: 500;
    /* color: #4d9623; */
  }
  
  .sticky {
    transition: all 0.9s ease-in-out;
  }
  
  .navbar-mobile{
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    height: 50px;
    border-bottom: 1px solid #eee;
    padding: 0 10px;
  }
  
  .navbar-mobile-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbar-mobile-menu a{
    display: flex;
    text-decoration: none;
  }
  
  .navbar-mobile-menu a span{
    color: #65c032;
    font-size: 1.3rem;
    position: relative;
    top: 1px;
  }
  
  .notification-count{
    position: absolute;
    top: 0;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    background: #ff5757;
  }
  
  .navbar-mobile-bottom{
    position: fixed;
    background: #fff;
    bottom: 0;
    width: 100%;
    z-index: 999;
    padding: 7px 0px 7px 0px;
    height: 50px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }
  
  .navbar-mobile-bottom-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a{
    color: #aaa;
    font-size: 1rem;
    text-align: center;
    text-decoration: none;
    width: 100%;
  }
  
  .navbar-mobile-bottom-menu-a span{
    font-size: 1.4rem;
  }
  
  .navbar-mobile-bottom-menu-a.active span{
    font-variation-settings:
    'FILL' 1
  }
  
  .navbar-mobile-bottom-menu-a small{
    font-size: 0.7rem;
  }
  
  .navbar-mobile-bottom-menu a:nth-child(3){
    width: 50%;
  }
  
  .navbar-mobile-bottom-menu .navbar-mobile-bottom-menu-a.active{
    color: #65c032;
  }
  
  .new-user{
    position: absolute;
    z-index: 999;
    width: 40px;
    height: 40px;
    background: #ff4800;
    border-radius: 50%;
    bottom: 60%;
    left: calc(50% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .new-user span{
    color: #fff;
  }
  
  .new-user.active span{
    font-variation-settings:
    'FILL' 1
  }
  
  .side-navbar{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px 0;
    box-sizing: initial;
    border-radius: 10px;
    background: #65c032;
    overflow-y: auto;
    transition: 0.5s;
  }
  
  .side-navbar.mobile{
    height: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    z-index: 100;
    padding: 70px 0;
    background: #65c032;
    box-shadow: 0 0 200px 0 rgba(0,0,0,0.8);
    transition: 1s;
  }
  
  .side-navbar.mobile.open{
    height: 70vh;
    opacity: 1;
    pointer-events: all;
  }
  
  .side-navbar.mobile .closeBtn{
    position: absolute;
    top: 15px;
    left: 10px;
    color: #fff;
  }
  
  .side-navbar ul{
    padding-left: 10px;
  }
  
  .side-navbar ul li{
    position: relative;
    width: 100%;
    list-style: none;
    transition: 0.5s;
  }
  
  .side-navbar ul li.active,
  .side-navbar ul li:hover{
    background: #fff;
    border-radius: 10px 0 0 10px;
  }
  
  .side-navbar ul li b{
    display: none;
    position: absolute;
    height: 10px;
    width: 100%;
    background: #fff;
  }
  
  .side-navbar ul li.active b{
    display: block;
  }
  
  .side-navbar ul li b:nth-child(1){
    top: -10px;
  }
  
  .side-navbar ul li b:nth-child(2){
    bottom: -10px;
  }
  
  .side-navbar ul li b::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #65c032;
  }
  
  .side-navbar ul li b:nth-child(1)::before{
    border-radius: 0 0 10px 0;
  }
  
  .side-navbar ul li b:nth-child(2)::before{
    border-radius: 0 10px 0 0;
  }
  
  .side-navbar ul li a{
    padding: 10px 0;
    margin: 10px 0;
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    transition: 0.5s;
  }
  
  .side-navbar ul li.active a,
  .side-navbar ul li:hover a{
    color: #65c032;
    padding: 10px;
  }
  
  .side-navbar ul li a span{
    width: 40px;
  }
  
  
  /* navbar end */
  
  .large{
    width: 100% ;
    border-radius: 0 0 0 0 ;
  }
  .small{
    width: 0px ;
    display: none;
    border-radius: 0 0 0 0 ;
  }
  
  @media (max-width: 1080px) {
    .large{
      width: 0% ;
      display: none;
      border-radius: 0 0 0 0 ;
    }
    .small{
      width: 100% ;
      display: block;
      border-radius: 0 0 0 0 ;
    }
  }
  
  .mybutton {
    background: #221B1B;
    outline: none;
    border: none;
    color: white;
    padding: 7px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    /* border-radius: 8px; */
  }
  
  .button5 {
    background: linear-gradient(to right,#65c032, #0fa400);
    /* background: #85cb0b; */
    color: #fff;
    text-decoration: none;
    border-radius: 55px;
    width: 150px;
    height: 49px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
    transition: 0.5s;
  }
  
  .button5:hover{
    text-decoration: none;
    color: #fff;
  }
  
  .transparent{
    background: none;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    border-radius: 55px;
    width: 130px;
    height: 41px;
    font-weight: 600;
    font-size: 0.8rem;
    text-transform: uppercase;
    margin: 0;
    transition: 0.5s;
  }
  
  .transparent:hover{
    background: rgba(255,255,255,0.3);
    border: 2px solid transparent;
    color: #fff;
    text-decoration: none;
  }
  
  /* new login - page */
  
  .full-login-card{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  
  .login-card-outter{
    max-width: 380px;
    width: 100%;
    overflow: hidden;
    height: 500px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  }
  
  .login-card{
    display: flex;
    justify-content: center;
    background: #fff;
    width: 200%;
  }
  
  .signin-signup-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    transition: 1s;
  }
  
  .signin-signup-form .title{
    text-align: left;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #444;
  }
  
  .signin-signup-form small{
    text-align: left;
    width: 100%;
    font-size: 0.9rem;
    color: #bbb;
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  .signin-signup-form .input-field{
    margin: 10px 0;
    width: 100%;
    height: 51px;
    border-radius: 51px;
    /* background: #ededed; */
    background: #fff;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.1);
    display: grid;
    grid-template-columns: 15% 85%;
  }
  
  .signin-signup-form .input-field span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #65c032;
    font-size: 1.2rem;
  }
  
  .signin-signup-form .input-field input{
    background: none;
    outline: none;
    border: none;
    font-size: 0.9rem;
    color: #444;
  }
  
  .signin-signup-form .input-field input::placeholder{
    color: #aaa;
  }
  
  .signin-signup-form .social-text{
    font-size: 0.9rem;
    color: #aaa;
  }
  
  .signin-signup-form .social-text small{
    color: #65c032;
  }
  
  .signin-signup-form .social-text small:hover{
    text-decoration: underline;
  }
  
  .car-image{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    padding: 0 5%;
    display: block;
    width: 47%;
  }
  
  .car-image img{
    height: 500px;
  }
  
  .car-div{
    position: absolute;
    width: 100%;
    height: 7%;
    background: #65c032;
    color: #fff;
    display: none;
  }
  
  .login-above-logo{
    display: none;
  }
  
  
  @media (max-width: 1080px) {
    .car-image{
      display: none;
    }
  
    .car-div{
      bottom: 0;
      display: block;
    }
  
    .login-above-logo{
      display: block;
    }
  
    .full-login-card{
      align-items: center;
    }
  
    .login-card-outter{
      height: 600px;
      box-shadow: 0 0 0 0 rgba(0,0,0,0);
    }
  }
  
  .car-div a{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
  }
  
  .car-div a small{
    font-size: 1rem;
    position: relative;
    top: -5px;
    font-weight: 600;
  }
  
  
  /* new login - page */
  
  
  /* Profile - start */
  
  .full-profile-div{
    padding: 10px;
  }
  
  .profile-card-div{
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 4px;
    margin: 10px 0;
  }
  
  .profile-card-div .content{
    padding: 10px;
  }
  
  .user-name{
    display: grid;
    grid-template-columns: 15% 80% 5%;
  }
  
  .user-logo-parent-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .user-name .user-logo{
    width: 80px;
    height: 80px;
    background: #65c032;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 850px) {
    .user-logo-parent-div{
      display: block;
    }
  
    .user-name .user-logo{
      width: 55px;
      height: 55px;
    }
  }
  
  .user-name .user-logo h4{
    position: relative;
    top: 5px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 500;
  }
  
  .user-name .details{
    padding: 10px 15px;
  }
  
  .user-name .details h5{
    font-size: 1.3rem;
    color: #666;
    font-weight: 600;
  }
  
  .user-name .details p{
    margin: 0;
    color: #aaa;
    font-size: 0.9rem;
    font-weight: 500;
  }
  
  .user-name .edit{
    display: flex;
    justify-content: center;
    padding: 10px 0;
  }
  
  .user-name .edit span{
    color: #666;
    font-size: 1.3rem;
  }
  
  .edit-profile-div{
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: rgba(101, 192, 50,0.2);
  }
  
  .edit-profile-div small{
    margin: 0;
    width: 60%;
    font-size: 0.8rem;
    color: #666;
    font-weight: 500;
  }
  
  .edit-profile-div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 40%;
  }
  
  .dots{
    border-radius: 10px;
    text-align: center;
    padding: 3%;
    color: #fff;
    display: flex;
    justify-content: center;
    background: linear-gradient(to right,#65c032, #0fa400);
  }
  
  .dots h6{
    position: relative;
    top: 8px;
    padding-left: 8px;
  }
  
  .dots:hover span{
    color: #fff;
  }
  
  .dots:hover h6{
    color: #fff;
  }
  
  .address-div{
    display: grid;
    grid-template-columns: 10% 90%;
    padding: 15px;
  }
  
  .address-div .icon{
    position: relative;
    top: 3px;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: #65c032;
    color: #fff;
  }
  
  .address-div .icon span{
    font-size: 1.2rem;
  }
  
  .address-div .address-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 0px 20px;
  }
  
  .address-div .address-text h5{
    font-size: 1rem;
    color: #444;
    font-weight: 600;
  }
  
  .address-div .address-text div{
    text-align: right;
    position: relative;
    top: -3px;
  }
  
  .address-div .address-text div span{
    color: #ccc;
  }
  
  .add-address{
    border-top: 1px solid #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .add-address small{
    font-size: 1rem;
    color: #888;
  }
  
  .add-address small:nth-child(2){
    padding-left: 10px;
    position: relative;
    top: -2px;
  }
  
  .vehicle-div .heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  
  .vehicle-div .heading h5{
    font-size: 1rem;
    color: #555;
    font-weight: 600;
  }
  
  .vehicle-div .heading div span{
    color: #65c032;
    font-size: 1rem;
  }
  
  .vehicle-div .heading div small{
    color: #65c032;
    font-size: 1rem;
    position: relative;
    top: -2px;
    font-weight: 600;
  }
  
  .vehicle-card{
    position: relative;
    border-radius: 21px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 430px;
}
  
  .vehicle-card .wave{
    display: none;
  }
  
  .vehicle-card .newWave{
    display: none;
  }
  
  .vehicle-card.charging .newWave{
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0;
  }
  
  
  .vehicle-card.charging .newWave.wave1{
    opacity: 0.1;
  }
  
  .vehicle-card.charging .newWave.wave2{
    opacity: 0.2;
  }
  
  .vehicle-card.charging .newWave.wave3{
    opacity: 0.3;
  }
  
  .newWave.wave1.battery1,.newWave.wave2.battery1,.newWave.wave3.battery1{
    height: 10%;
    background: linear-gradient(to right, #f20c0c, #eb2a2a);
  }
  
  .newWave.wave1.battery1{
    animation: newWave1 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery1{
    animation: newWave1 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery1{
    animation: newWave1 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery2,.newWave.wave2.battery2,.newWave.wave3.battery2{
    height: 20%;
    background: linear-gradient(to right, #f20c0c, #eb2a2a);
  }
  
  .newWave.wave1.battery2{
    animation: newWave1 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery2{
    animation: newWave1 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery2{
    animation: newWave1 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery3,.newWave.wave2.battery3,.newWave.wave3.battery3{
    height: 30%;
    background: linear-gradient(to right, #eb8817, #ed9939)
  }
  
  .newWave.wave1.battery3{
    animation: newWave2 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery3{
    animation: newWave2 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery3{
    animation: newWave2 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery4,.newWave.wave2.battery4,.newWave.wave3.battery4{
    height: 40%;
    background: linear-gradient(to right, #eb8817, #ed9939)
  }
  
  .newWave.wave1.battery4{
    animation: newWave2 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery4{
    animation: newWave2 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery4{
    animation: newWave2 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery5,.newWave.wave2.battery5,.newWave.wave3.battery5{
    height: 50%;
    background: linear-gradient(to right, #e6ce20, #e6d34c);
  }
  
  .newWave.wave1.battery5{
    animation: newWave2 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery5{
    animation: newWave2 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery5{
    animation: newWave2 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery6,.newWave.wave2.battery6,.newWave.wave3.battery6{
    height: 60%;
    background: linear-gradient(to right, #e6ce20, #e6d34c);
  }
  
  .newWave.wave1.battery6{
    animation: newWave3 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery6{
    animation: newWave3 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery6{
    animation: newWave3 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery7,.newWave.wave2.battery7,.newWave.wave3.battery7{
    height: 70%;
    background: linear-gradient(to right, #a1eb17, #b0e64c);
  }
  
  .newWave.wave1.battery7{
    animation: newWave3 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery7{
    animation: newWave3 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery7{
    animation: newWave3 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery8,.newWave.wave2.battery8,.newWave.wave3.battery8{
    height: 80%;
    background: linear-gradient(to right, #a1eb17, #b0e64c);
  }
  
  .newWave.wave1.battery8{
    animation: newWave3 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery8{
    animation: newWave3 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery8{
    animation: newWave3 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery9,.newWave.wave2.battery9,.newWave.wave3.battery9{
    height: 90%;
    background: linear-gradient(to right, #21c708, #39b327);
  }
  
  .newWave.wave1.battery9{
    animation: newWave3 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery9{
    animation: newWave3 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery9{
    animation: newWave3 4s ease-in-out infinite;
  }
  
  .newWave.wave1.battery10,.newWave.wave2.battery10,.newWave.wave3.battery10{
    height: 110%;
    background: linear-gradient(to right, #21c708, #39b327);
  }
  
  .newWave.wave1.battery10{
    animation: newWave4 7s ease-in-out infinite;
  }
  
  .newWave.wave2.battery10{
    animation: newWave4 3s ease-in-out infinite;
  }
  
  .newWave.wave3.battery10{
    animation: newWave4 4s ease-in-out infinite;
  }
  
  @keyframes newWave1 {
    0%,100%{
      clip-path: polygon(0 11%, 9% 6%, 21% 1%, 33% 2%, 43% 8%, 53% 14%, 67% 18%, 78% 16%, 88% 12%, 100% 8%, 100% 100%, 0 100%);
      } 50%{
        clip-path: polygon(0 9%, 11% 13%, 21% 15%, 30% 17%, 40% 15%, 51% 10%, 62% 5%, 75% 1%, 88% 2%, 100% 8%, 100% 100%, 0 100%);
      }
  }
  
  @keyframes newWave2 {
    0%,100%{
      clip-path: polygon(0 37%, 7% 25%, 15% 13%, 24% 6%, 35% 4%, 44% 9%, 53% 16%, 61% 23%, 71% 29%, 80% 29%, 88% 23%, 94% 18%, 100% 14%, 100% 100%, 0 100%);
      } 50%{
        clip-path: polygon(0 14%, 6% 19%, 14% 24%, 22% 29%, 30% 26%, 38% 19%, 49% 9%, 60% 5%, 71% 8%, 79% 15%, 84% 19%, 93% 22%, 100% 18%, 100% 100%, 0 100%);
      }
  }
  
  @keyframes newWave3 {
    0%,100%{
      clip-path: polygon(0 21%, 7% 13%, 16% 7%, 26% 2%, 38% 2%, 48% 7%, 57% 15%, 66% 21%, 75% 25%, 85% 25%, 94% 23%, 100% 16%, 100% 100%, 0 100%);
      } 50%{
        clip-path: polygon(0 17%, 9% 21%, 18% 22%, 25% 20%, 34% 15%, 44% 9%, 53% 4%, 62% 2%, 73% 2%, 84% 6%, 93% 10%, 100% 16%, 100% 100%, 0 100%);
      }
  }
  
  @keyframes newWave4 {
    0%,100%{
      clip-path: polygon(0 21%, 7% 13%, 16% 7%, 26% 2%, 38% 2%, 48% 7%, 57% 15%, 66% 21%, 75% 25%, 85% 25%, 94% 23%, 100% 16%, 100% 100%, 0 100%);
      } 50%{
        clip-path: polygon(0 17%, 9% 21%, 18% 22%, 25% 20%, 34% 15%, 44% 9%, 53% 4%, 62% 2%, 73% 2%, 84% 6%, 93% 10%, 100% 16%, 100% 100%, 0 100%);
      }
  }
  
  .vehicle-card.charging .wave{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 500px;
    width: 500px;
    animation: 11s linear infinite reverse wave;
    transition: 10s;
    transform-origin: 50%, 48%;
    border-radius: 40%;
    bottom: -500px;
    margin-left: -130px;
    opacity: 0.2;
  }
  
  .vehicle-card.charging .wave.wave2{
    animation: 7s linear infinite wave;
    opacity: 0.3;
  }
  
  .vehicle-card.charging .wave.wave3{
    animation: 9s linear infinite wave;
    opacity: 0.4;
  }
  
  .vehicle-card.charging .wave.b1{
    background: linear-gradient(to right, #f20c0c, #eb2a2a);
  }
  .vehicle-card.charging .wave.b2{
    background: linear-gradient(to right, #D11313, #E32D2D);
  }
  .vehicle-card.charging .wave.b3{
    background: linear-gradient(to right, #eb8817, #ed9939);
  }
  .vehicle-card.charging .wave.b4{
    background: linear-gradient(to right, #e6ce20, #e6d34c);
  }
  .vehicle-card.charging .wave.b5{
    background: linear-gradient(to right, #a1eb17, #b0e64c);
  }
  .vehicle-card.charging .wave.b6{
    background: linear-gradient(to right, #21c708, #39b327);
  }
  .vehicle-card.charging .wave.b7{
    background: linear-gradient(to right, #21c708, #39b327);
  }
  .vehicle-card.charging .wave.b8{
    background: linear-gradient(to right, #21c708, #39b327);
  }
  .vehicle-card.charging .wave.b9{
    background: linear-gradient(to right, #21c708, #39b327);
  }
  .vehicle-card.charging .wave.b10{
    background: linear-gradient(to right, #21c708, #39b327);
  }
  
  @media (max-width: 1080px) {
    .vehicle-card.charging .wave{
      margin-left: -170px;
    }
  
    .vehicle-card.charging .wave.b1{
      bottom: -500px;
      background: linear-gradient(to right, #f20c0c, #eb2a2a);
    }
  
    .vehicle-card.charging .wave.b2{
      bottom: -474px;
      background: linear-gradient(to right, #D11313, #E32D2D);
    }
  
    .vehicle-card.charging .wave.b3{
      bottom: -454px;
      background: linear-gradient(to right, #eb8817, #ed9939);
    }
  
    .vehicle-card.charging .wave.b4{
      bottom: -434px;
      background: linear-gradient(to right, #e6ce20, #e6d34c);
    }
  
    .vehicle-card.charging .wave.b5{
      bottom: -414px;
      background: linear-gradient(to right, #a1eb17, #b0e64c);
    }
  
    .vehicle-card.charging .wave.b6{
      bottom: -374px;
      background: linear-gradient(to right, #21c708, #39b327);
    }
  }
  
  @keyframes wave {
    0%{
      transform: rotate(0deg);
    }100%{
      transform: rotate(360deg);
    }
  }
  
  .vehicle-card .battery{
    display: none;
    position: absolute;
    z-index: 5;
    text-align: center;
    width: 100%;
    height: 100%;
  }
  
  .vehicle-card.charging .battery{
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .vehicle-card .battery span{
    font-size: 0.9rem;
  }
  
  .vehicle-card div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .vehicle-card div .material-symbols-outlined{
    padding: 0px 0 20px 0;
    font-size: 2.5rem;
    color: #65c032;
  }
  
  .vehicle-card div h5{
    margin: 0;
    font-size: 1rem;
    color: #222;
    font-weight: 600;
    padding-top: 5px;
  }
  
  .vehicle-card div small{
    font-size: 0.8rem;
    color: #888;
    font-weight: 500;
    margin: 0;
  }
  
  .vehicle-card .vehicle-card-more{
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #eee;
    height: 40px;
  }
  
  .vehicle-card .vehicle-card-more span{
    padding: 0;
    font-size: 1.5rem;
    color: #bbb;
  }
  
  .add-vehicle-card{
    position: relative;
    height: 135px;
  }
  
  .add-vehicle-card span{
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-size: 5rem;
  }
  
  .last-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
  }
  
  .last-div a{
    margin-top: 10px;
    font-size: 0.9rem;
    color: #65c032;
  }
  
  .last-div small{
    font-size: 0.9rem;
    color: #444;
    font-weight: 500;
  }
  
  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
  }
  
  /* Profile - end */
  
  
  /* dashboard - start */
  
  .dashboardCardBox{
    padding: 32px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    height: 11rem;
    width: 33%;
    transition: 1s;
    overflow: hidden;
}
  
  .dashboardCardBox.active{
    height:19.5rem;
  }
  
  .profilePicSet{
    border-radius: 50%;
    position: relative;
    height:90px;
    width: 90px;
    top:7%;
  }
  
  @media (max-width:850px) {
    .profilePicSet{
      top: 1%;
    }
  }
  
  .profilePicSet img{
    border-radius: 50%;
    height:100px;
    width: 100px;
  }
  @media (max-width:850px) {
    .profilePicSet img{
      height:126px;
      width: 126px;
    }
  }
  
  .bigNum{
    position: relative;
    float: right;
    bottom: 5.3rem;
    text-align: right;
  }
  
  .bigNum h3{
    margin-bottom: 0;
  }
  .bigNum h5{
    font-weight: bold;
  }
  
  @media (max-width:850px) {
    .bigNum h5{
      margin-bottom: 0;
      line-height: 32px;
    }
  }
  
  .bigNum h6{
    color: #555;
    margin-bottom: 0;
    float: left;
  }
  
  #username{
    font-weight:bold;
    letter-spacing: 2px;
  }
  
  @media (max-width:850px) {
    #username {
  
      letter-spacing: 2px;
    }
  }
  
  .walletthings{
    line-height: 40px;
  }
  
  .walletPng{
    position:relative;
    top:-13px;
    margin:6px;
  }
  
  .walletPng img{
    height:28px;
    position:relative;
    top:-6px;
  }
  
  @media (max-width:850px) {
    .walletPng img{
      height:35px;
      position:relative;
    }
  }
  
  #walletRupeeSymbol{
    font-weight:bolder;
    font-size:1.2rem;
    margin-right:3px;
    position: relative;
    top: -9px;
  }
  
  @media (max-width:850px) {
    #walletRupeeSymbol {
      margin-bottom: 0;
      font-size:1.5rem;
      margin-right:3px;
      top: -8px;
    }
  }
  
  #walletAmt{
    font-weight:bolder;
    font-size:1.2rem;
    position: relative;
    top: -9px;
    letter-spacing: 2px;
  }
  
  @media (max-width:850px) {
    #walletAmt {
      margin-bottom: 0;
      font-size:1.5rem;
      top: -8px;
    }
  }
  
  #MinAmtLine{
    position:relative;
    top:-34px;
    color:#555;
    font-size: 0.6rem;
    font-weight: bold;
  }
  
  @media (max-width:850px) {
    #MinAmtLine{
    font-size:0.8rem;
    top: -29px;
    color:#555;
    font-weight: bold;
    }
  }
  
  #addWalletMoney{
    border-radius:20px;
    font-size:0.8rem;
    display: flex;
    text-align:center;
    justify-content: center;
    height: 30px;
    background: linear-gradient(to right,#65c032, green);
    font-weight:1000;
    padding: 3px 10px;
    position:relative;
    top:-25px;
    text-decoration: none;
    letter-spacing: 1px;
  }
  
  #addWalletMoney h6{
    color:#fff;
    font-weight: bold;
    position: relative;
    top: 4px;
  }
  
  @media (max-width:850px) {
    #addWalletMoney {
      top:-24px;
      width: 70%;
      float: right;
    }
  }
  
  .YourOrderCardBox{
    padding: 16px;
    border-radius: 9px;
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    height: 8rem;
    width: 93%;
    transition: 1s;
    overflow: hidden;
}
.searchbox{
  padding: 10px;
  border-radius: 29px;
  box-shadow: 0 0 20px rgb(0 0 0 / 15%);
  height: -1rem;
  width: 100%;
  transition: 1s;
  overflow: hidden;
}
  
  .YourOrderCardBox.active{
    height:21.5rem;
  }
  
  .YourOrderContent{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .YourOrderWord{
    font-weight: bold;
    display: flex;
  }
  .YourOrderWord h6:nth-child(2){
    font-weight: bold;
    margin-left: 10px;
    margin-top: 8px;
    font-size: 1rem;
  }
  
  .ordericon span{
    color: #444;
    width: auto;
    border-radius: 50%;
    font-size: 1.1rem;
  }
  
  /* .ordericon{
    display: flex;
    justify-content: center;
    align-items:center;
    height: 35px;
    width: 35px;
    background: rgba(84,204,203,0.3);
    border-radius: 10px;
    font-weight: lighter;
  } */
  .ordericon{
    position: relative;
    top: 3px;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background: rgba(84,204,203,0.3);
    color: #fff;
  }
  
  .dashboardCardAnalytics{
    display: flex;
    flex-direction: column;
    margin-top: 18px;
    width: 100%;
  }
  
  .analyticsLineorg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    border-left: 2px solid rgba(84,204,203,0.8);
    padding-left: 2%;
  }
  
  .analyticsSpanHead{
    font-weight: bold;
    margin: 0;
    font-size: 0.8rem;
  }
  
  .analyticsSpanHeadValue{
    font-size: 0.8rem;
    margin: 0;
    font-weight: bold;
    padding-left: 4px;
    color: #555;
  }
  
  .analyticsLine{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 15px;
    border-left: 2px solid rgba(84,204,203,0.8);
    padding-left: 2%;
  }
  
  .analyticsText h6{
    font-weight: bold;
    margin: 0;
    font-size: 0.8rem;
  }
  
  .analyticsText p{
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 2px;
    color: #555;
  }
  
  
  .locationDiv h6:nth-child(1){
    font-weight: bold;
    margin: 0;
    font-size: 0.8rem;
    margin-right: 4px;
  }
  
  .locationDiv h6:nth-child(2){
    margin: 0;
    font-size: 0.8rem;
    margin-right: 2px;
    font-weight: normal;
  }
  
  .locationDiv h6:nth-child(3){
    margin: 0;
    font-size: 0.8rem;
    font-weight: normal;
  }
  
  .moreOrderDetails{
    border-radius:20px;
    display: flex;
    justify-content: center;
    text-align: center;
    height:30px;
    width: 35%;
    background: linear-gradient(to right,#65c032, green);
    color:#fff;
    font-weight:1000;
    text-decoration: none;
  }
  
  .moreOrderDetails:hover{
    text-decoration: none;
    color: #fff;
  }
  
  .moreOrderDetails h6{
    font-size:0.8rem;
    text-align:center;
    font-weight: bold;
    position: relative;
    top: 7px;
  }
  
  @media (max-width:850px) {
   .moreOrderDetails{
     font-size:1rem;
     width: 35%;
     text-decoration: none;
   }
  }
  .moreOrderDetails span{
    padding: 0;
    margin-right: 4px;
    position: relative;
    left: -3px;
    top: 3px;
  }
  
  @media (max-width:850px) {
    .moreOrderDetails span{
      top:3px;
    }
  }
  
  @media (max-width:850px) {
    .moreOrderDetails h6{
      height: 60px;
      top:7px;
    }
  }
  
  .OrderLine{
    font-weight: normal;
    display: flex;
  }
  
  .OrderLineBelow{
    display: flex;
    flex-direction: column;
  }
  
  .OrderLineBelow h6:nth-child(1){
    font-weight: bold;
    margin-left: 10px;
    margin-top: 1px;
    margin-bottom: 3px;
    font-size: 0.9rem;
  }
  
  .OrderLineBelow h6:nth-child(2){
    margin-left: 10px;
    font-size: 0.7rem;
    color: #494949;
    margin-bottom: 3px;
    font-weight: bolder;
  }
  
  .OrderCardDetail{
    display: flex;
    justify-content: space-between;
  }
  
  .OrderCardDetailFeilds{
    display: flex;
    flex-direction: column;
  }
  
  .OrderCardDetailFeilds h6:nth-child(1){
    font-weight: bold;
    margin-bottom: 0;
  }
  
  .OrderCardDetailFeilds h6:nth-child(2){
    font-weight: 400;
    margin-bottom: 0;
  }
  
  .dashboardCardBoxOrg{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    height: 7rem;
    width: 100%;
    transition: 1s;
    overflow: hidden;
  
  }
  
  .dashboardCardBoxOrg.active{
    height:20rem;
  }
  
  .dashboardCardBoxOrg:hover{
    transform: translateY(-15px);
    transition: 1s;
  }
  
  .analyticsBox{
    font-family: 'Baloo 2', cursive;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .analyticsBox ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .analyticsBox ul li{
    list-style-type:none;
    padding-top: 6px;
  }
  .analyticsBox span{
    margin: 0;
  }
  .analyticsBox p{
    font-size: 1rem;
    margin: 0;
    position: relative;
    top: -2px;
    right: -4px;
  }
  
  /* dashboard - end */
  
  /* orders - start */
  
  .filterDiv{
    display: flex;
    justify-content: space-between;
    padding: 0 3%;
  }
  
  .FilterLine h6{
    color: #666;
    font-size: 0.8rem;
    font-weight: bolder;
  }
  
  .FilterLine{
    width: 33.3%;
    text-align: center;
  }
  
  .hLine{
    border: none;
    border-bottom: 3px solid orange;
    width:33.3%;
    margin: 0;
    transition: 1s
  }
  
  .category-list-sub-menu{
    display: flex;
    align-items: center;
    padding: 0 3%;
  }
  
  .city-selector{
    background: rgba(0,0,0,0.1);
    outline: none;
    border: #ddd;
    padding: 5px 40px 5px 20px;
    margin: 10px auto;
    border-radius: 4px;
    color: #444;
    -webkit-appearance: none;
    z-index: 10;
  }
  
  .city-selector.multi-select option{
    padding: 5px 0;
    font-size: 1rem;
  }
  
  .city-selector-icon{
    position: relative;
    top: 5px;
    right: 35px;
    pointer-events:none;
  }
  
  .ordersOuter{
    width:100%;
    overflow: hidden;
  }
  
  .ordersDiv{
    display: flex;
    width: 300%;
  }
  
  .orders{
    width: 100%;
    transition: 1s;
    padding: 10px;
  }
  
  .OrderPageCard{
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    height: 6rem;
    width: 100%;
    transition: 1s;
    overflow: hidden;
    margin-bottom: 20px;
  }
  
  .OrderPageCard.active{
    height:17rem;
  }
  
  .OrderLineBelowEnd{
    display: flex;
  }
  
  .OrderLineBelowEndContent span{
    margin-left: 10px;
    margin-bottom: 0;
    font-size: 0.8rem;
  }
  
  .OrderLineBelowEndContent span:nth-child(1) {
    font-weight: 600;
    color: #65c032;
  }
  
  .OrderLineBelowEndContent{
    display: flex;
  }
  
  .statusdiv{
    color: #000;
    height: 24px;
    width: 65px;
    border-radius: 4px;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .statusdiv h6{
    position: relative;
    top: 4px;
    font-size: 0.8rem;
    font-weight: bolder;
  }
  
  /* orders - end */

  /* Google Fonts Import Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: #11101d;
  z-index: 100;
  transition: all 0.5s ease;
}
.sidebar.close{
  width: 78px;
}
.sidebar .logo-details{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 30px;
  color: #fff;
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
}
.sidebar .logo-details .logo_name{
  font-size: 22px;
  color: #fff;
  font-weight: 600;
  transition: 0.3s ease;
  transition-delay: 0.1s;
}
.sidebar.close .logo-details .logo_name{
  transition-delay: 0s;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links{
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}
.sidebar.close .nav-links{
  overflow: visible;
}
.sidebar .nav-links::-webkit-scrollbar{
  display: none;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li:hover{
  background: #1d1b31;
}
.sidebar .nav-links li .iocn-link{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar.close .nav-links li .iocn-link{
  display: block
}
.sidebar .nav-links li i{
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.sidebar .nav-links li.showMenu i.arrow{
  transform: rotate(-180deg);
}
.sidebar.close .nav-links i.arrow{
  display: none;
}
.sidebar .nav-links li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li .sub-menu{
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
}
.sidebar .nav-links li.showMenu .sub-menu{
  display: block;
}
.sidebar .nav-links li .sub-menu a{
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.sidebar .nav-links li .sub-menu a:hover{
  opacity: 1;
}
.sidebar.close .nav-links li .sub-menu{
  position: absolute;
  left: 100%;
  top: -10px;
  margin-top: 0;
  padding: 10px 20px;
  border-radius: 0 6px 6px 0;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: 0s;
}
.sidebar.close .nav-links li:hover .sub-menu{
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
}
.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li .sub-menu.blank{
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}
.sidebar .nav-links li:hover .sub-menu.blank{
  top: 50%;
  transform: translateY(-50%);
}
.sidebar .profile-details{
  position: fixed;
  bottom: 0;
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1d1b31;
  padding: 12px 0;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details{
  background: none;
}
.sidebar.close .profile-details{
  width: 78px;
}
.sidebar .profile-details .profile-content{
  display: flex;
  align-items: center;
}
.sidebar .profile-details img{
  height: 52px;
  width: 52px;
  object-fit: cover;
  border-radius: 16px;
  margin: 0 14px 0 12px;
  background: #1d1b31;
  transition: all 0.5s ease;
}
.sidebar.close .profile-details img{
  padding: 10px;
}
.sidebar .profile-details .profile_name,
.sidebar .profile-details .job{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
}
.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job{
  display: none;
}
.sidebar .profile-details .job{
  font-size: 12px;
}
.home-section{
  position: relative;
  background: #ffffff;
  height: 100vh;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
}
.sidebar.close ~ .home-section{
  left: 78px;
  width: calc(100% - 78px);
}
.home-section .home-content{
  height: 60px;
  display: flex;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
@media (max-width: 400px) {
  .sidebar.close .nav-links li .sub-menu{
    display: none;
  }
  .sidebar{
    width: 78px;
  }
  .sidebar.close{
    width: 0;
  }
  .home-section{
    left: 78px;
    width: calc(100% - 78px);
    z-index: 100;
  }
  .sidebar.close ~ .home-section{
    width: 100%;
    left: 0;
  }
}
@import url('https://fonts.googleapis.com/css?family=Comfortaa');

*{
	margin: 0;
	padding: 0;
	outline: none;
	box-sizing: border-box;
	font-family: 'Comfortaa', cursive;
}

body{
	background: url('https://i.imgur.com/NMnbn2s.jpg') no-repeat center;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.wrapper{
  position: absolute;
  top: 9%;
  left: 52%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0,0.6);
  max-width: 550px;
  width: 100%;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}

.wrapper .input {
    width: 85%;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}

.searchbtn {
    background: #ffec00;
    width: 10%;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}

.searchbtn .fas{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
}

body {
	background: var(--grey);
	overflow-x: hidden;
}





/* SIDEBAR */
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
	scrollbar-width: none;
}
#sidebar::--webkit-scrollbar {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--blue);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--grey);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--blue);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}
/* SIDEBAR */





/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 19px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}




/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */





/* MAIN */
#content main {
	width: 117%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	color: var(--dark);
}
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--dark-grey);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--blue);
	pointer-events: unset;
}
#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}




#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}






#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 102;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 41px 20px;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}
/* MAIN */
/* CONTENT */









@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}






@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}
#map {
  width: 100%;
  height: 550px;
}

#footer{
  background-color:rgb(24,38,52);
  text-align:center;
  color:white;

}

.social .fa{
    color: #fff;
    border-radius: 50px;
    margin: 15px 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border: 2px solid #fff;
    transition: all 0.5s ease-in;
    background: rgb(133,183,237);
}
.about {
    color: #fff;
    text-align: center;
    padding: 27px;
}

#vehicle1 {
  color: white;

}

/* Footer Section - End */